.App {
  text-align: center;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 40px;
}

.red { color: red }

th, td {
  padding: 10px 10px;
  border-radius: 4px;
}

.table-cat {
  background-color: aliceblue;
}

table {
  margin: 50px auto;
  min-width: 50vw;
  border-spacing: 10px;
  text-align: left;
}

thead {
  background-color: dodgerblue;
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="text"] {
  border: 0;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 4px;
  width: 400px;
  margin-right: 20px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: flex-end;
}